<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        BRAND NAME
      </h1>
      <h2 class="subtitle">
        WELCOME TO OUR PORTAL!
      </h2>
    </div>
  </div>
</section>

<div class="box">
  <p></p>
  <div class="columns is-multiline is-centered">
    <div id="BigIcons" class="column is-desktop is-one-quarter">
        <fa-icon icon="envelope-square" size="10x" ></fa-icon>
    </div>
    <div id="BigIcons" class="column is-desktop is-one-quarter">
        <fa-icon icon="bell" size="10x"></fa-icon>
    </div>
    <div id="BigIcons" class="column is-desktop is-one-quarter">
        <fa-icon icon="user-plus" size="10x"></fa-icon>
    </div>
    <div id="BigIcons" class="column is-desktop is-one-quarter">
        <fa-icon icon="user-friends" size="10x"></fa-icon>
        
    </div>
    <div class="column is-desktop is-one-quarter">
        <article class="message">
            <div class="message-header">
              <p>
                <fa-icon icon="envelope-square"></fa-icon> Message
              </p>
            </div>
            <div class="message-body">
            Send a message to someone! Use the icon shortcut to send a new message. 
            </div>
          </article>
    </div>
    <div class="column is-desktop is-one-quarter">
      <article class="message">
        <div class="message-header">
          <p>
            <fa-icon icon="bell"></fa-icon> Notification
          </p>
        </div>
        <div class="message-body">
          Notifications will alert you of any new messages and/or friend requests.
        </div>
      </article>
    </div>
    <div class="column is-desktop is-one-quarter">
        <article class="message">
            <div class="message-header">
              <p>
                <fa-icon icon="user-plus"></fa-icon> Add Friends
              </p>
            </div>
            <div class="message-body">
              Find your friends now ! You can add new contacts to your friend list.                                      
            </div>
          </article>
    </div>
    <div class="column is-desktop is-one-quarter">
        <article class="message">
            <div class="message-header">
              <p>
                <fa-icon icon="user-friends" ></fa-icon> Group Chats
              </p>
            </div>
            <div class="message-body">
              Create your own group chats and start connecting with your friends at the same time.
            </div>
          </article>
    </div>
  </div>
</div>