<p class="panel-heading">
    My Profile
    </p>
<div class="box has-text-link" id="defaultbox">
    <div class="box has-text-link" id="imagebox">
        <div class="columns is-vcentered is-multiline is-desktop">
            <div class="column has-text-centered is-desktop is-4">
            </div>
            <div id="profilePic " class="column has-text-centered is-desktop is-4">
                <figure class="image is-5by3 ">
                    <img src="https://bulma.io/images/placeholders/800x480.png">
                  </figure>
            </div>
        </div>
    </div>
    <div class="field">
        <label class="label">Username</label>
        Leonardo Pedro
    </div>
    <div class="field">
        <label class="label">ID</label>
        #123
    </div>
    <div class="field">
        <label class="label">Email Address</label>
        user1@gmail.com
    