# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Loic PC\Documents\School\LNU_Computer_Technology\Year2_2019_2020\2DV608\Assignment_3\retake2\JMines\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
