<p class="panel-heading">
    Group Chats
</p>

<div class="box has-text-link" id="areatbox">
    <div class="columns is-vcentered is-multiline is-desktop">
        <div id="BigIcons " class="column has-text-centered is-desktop is-4">
            <fa-icon icon="user-friends" size="7x"></fa-icon>
        </div>
        <div id="BigIcons " class="column has-text-centered is-desktop is-4">
            <fa-icon icon="user-plus" size="6x"></fa-icon>
        </div>
        <div id="BigIcons " class="column has-text-centered is-desktop is-4">
            <fa-icon icon="sign-out-alt" size="6x"></fa-icon>
        </div>
    </div>
    <div class="columns is-vcentered is-multiline is-desktop">
        <div class="column is-4 has-text-centered is-desktop ">
            <button class="button is-rounded is-link " title="static button">GROUP 1</button>

        </div>
        <div class="column is-4 has-text-centered is-desktop">
            <button class="button is-link is-rounded is-outlined">
                <h2>Add a contact</h2>
            </button>
        </div>
        <div class="column is-4 has-text-centered is-desktop">
            <button class="button is-link is-rounded is-outlined">
                <h3>Leave Group</h3>
            </button>
        </div>
    </div>
</div>
<div class="box" id='greybox'>


<div class="box">

    <div class="columns is-vcentered is-multiline is-desktop">
        <div id="BigIcons" class="column has-text-centered is-desktop is-2">
            <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/64x64.png">
            </figure>
        </div>
        <div class="column is-8">
            <p class="control has-icons-left">
                Group 1
            </p>
        </div>
        <div class="column is-2">
            <div id="BigIcons" class="column is-desktop is-one-quarter">
                <button class="button is-link is-rounded">
                    <fa-icon icon="envelope-square" size="1x"></fa-icon>
                </button>

            </div>
        </div>
    </div>

</div>
<div class="box">

    <div class="columns is-vcentered is-multiline is-desktop">
        <div id="BigIcons" class="column has-text-centered is-desktop is-2">
            <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/64x64.png">
            </figure>
        </div>
        <div class="column is-8">
            <p class="control has-icons-left">
                Group 2
            </p>
        </div>
        <div class="column is-2">
            <div id="BigIcons" class="column is-desktop is-one-quarter">
                <button class="button is-link is-rounded">
                    <fa-icon icon="envelope-square" size="1x"></fa-icon>
                </button>

            </div>
        </div>
    </div>

</div>
<div class="box">

    <div class="columns is-vcentered is-multiline is-desktop">
        <div id="BigIcons" class="column has-text-centered is-desktop is-2">
            <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/64x64.png">
            </figure>
        </div>
        <div class="column is-8">
            <p class="control has-icons-left">
                Group 3
            </p>
        </div>
        <div class="column is-2">
            <div id="BigIcons" class="column is-desktop is-one-quarter">
                <button class="button is-link is-rounded">
                    <fa-icon icon="envelope-square" size="1x"></fa-icon>
                </button>

            </div>
        </div>
    </div>

</div>
<div class="box">

    <div class="columns is-vcentered is-multiline is-desktop">
        <div id="BigIcons" class="column has-text-centered is-desktop is-2">
            <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/64x64.png">
            </figure>
        </div>
        <div class="column is-8">
            <p class="control has-icons-left">
                Group 4
            </p>
        </div>
        <div class="column is-2">
            <div id="BigIcons" class="column is-desktop is-one-quarter">
                <button class="button is-link is-rounded">
                    <fa-icon icon="envelope-square" size="1x"></fa-icon>
                </button>

            </div>
        </div>
    </div>

</div>
</div>
