extends layout
block content
    if flash
        p.flash #{flash}
    form(method="post")
        span.label Username:
        p
            input(type="text", name="user", value="",required=true)
        span.label Password:
        p
            input(type="password", name="password", value="",required=true)
        p
            input(type="submit", name="doit", value="Register")

    a(href='./Login') Click here to login!

